/* Section with Background */
.search-section {
    height: 400px;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
                url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F0c%2Faa%2F92%2F0caa92e217863e82cb8b8ff5dfedd092.jpg&f=1&nofb=1&ipt=5e006239e16b1faeb49ada110743b68abeca2a712351f74d31b1d0df9dddbc4f"); /* Use your uploaded burger image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links > .active{
    font-family: 'Helvetica', Arial, sans-serif; 
    color: #cb1877; 
}

.search-bar-container {
    display: flex;
    background: white;
    padding: 10px;
    border-radius: 2em;
    border: 1px solid #d4d4d4;
}

.signup-btn {
    background-color: #f7ebf1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 2em;
    cursor: pointer;
    font-size: 1em; 
    margin-right: 10px;
    color: #d14d72;
    text-decoration: none;
}

button,.login-btn {
    background-color: #e64b98;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 2em;
    cursor: pointer;
    font-size: 1em; 
    margin-left: 10px;
    text-decoration: none;
}

.search-btn{
    background-color: #ad1457;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 2em;
    cursor: pointer;
    font-size: 1em; 
    margin-left: 2px;
}

input {
    border: 1px solid #d4d4d4;
    border-radius: 2em;
    width: 300px;
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 10%;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card > h3 {
    margin-top: 1px;
    color: #d14d72;
    font-weight: 800;
    border-bottom: 2px solid #ed3c77;

}

strong {
    color: #f1da2f;
}


.content-container > h2 {
    padding: 20px 10%;
    font-size: 30px;
    margin-bottom: auto;
    text-align: center;
    color: #d14d72;
    text-shadow: #d12e69 1px 1px 2px;
}
