.homeSearchForm {
    margin: 0 auto;
}

.searchIconHome {
    height: 40px;
    width: 40px;
    margin: 0 1em 0 2em;
}

.homeSearchInputContainer {
    width: 50vw;
}


.homeSearchInput {
    font-size: 25px;
    padding: 0.5em;
    height: 2em;
}
