
#search-results-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card {
  background: #fff;
  border: 1px solid #f0b6d4;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 75%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card-left {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  flex: 3;
}

.card-right {
  margin-top: 4px;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 6px;
}

.card-right h4 {
  margin: 0;
  color: #d14d72;
  font-weight: 800;
  border-bottom: 2px solid #ed3c77;
  text-align: right;
  width: 100%;
}

.card-right p {
  margin: 0;
  text-align: right;
}

.card-right button {
  align-self: flex-end;
  margin-top: 8px;
}

.card-img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
}

.card-content > h3 {
  margin: 0;
  color: #d14d72;
  font-weight: 800;
  border-bottom: 2px solid #ed3c77;
  width: 100%;
}

strong {
  color: #f1da2f;
}

#results-info {
  margin-top: 10px;
  text-align: center;
  color: #d14d72;
  padding-top: 5px;
  font-size: 24px;
  text-shadow: #d12e69 1px 1px 2px;
  margin-bottom: 20px;
}