{{ testdata }}

<div class="form-container">
    <div class="auth-card">
        <h2>Profile Picture Upload Test</h2>
        
        <form action="/testprofileedit" method="POST" enctype="multipart/form-data">
            <label for="file">Profile Picture</label> <br />
            <input name="file" type="file" id="profile-pic" accept="image/*" class="file-input"> <br />

            <label for="profile-desc">Description/Bio</label> <br />
            <textarea name="profile-desc" placeholder="description here"></textarea> <br />
            <input type="submit"/>
        </form>

        <hr />


        <h2>Review Media Upload</h2>
        <i>not working yet...</i>

        <form action="/testreviewupload" method="POST" enctype="multipart/form-data">
            <label for="review-media">Review Media</label> <br />
            <input name="file" type="file" id="profile-pic" accept=".jpg, .jpeg, .png, .mp4, .mov, .avi, .mkv" multiple class="file-input"> <br />
            <input type="submit"/>
        </form>
    </div>
</div>
