{{ testdata }}

<div class="form-container">
    <div class="auth-card">
        <h2>Profile Picture Upload Test</h2>
        
        <form action="/testprofileedit" method="POST" enctype="multipart/form-data">
            <label for="file">Profile Picture</label> <br />
            <input name="file" type="file" id="profile-pic" accept="image/*" class="file-input"> <br />

            <label for="profile-desc">Description/Bio</label> <br />
            <textarea name="profile-desc" placeholder="description here"></textarea> <br />
            <input type="submit"/>
        </form>

        <hr />


        <h2>Review Media Upload</h2>

        <form action="/testreviewpost" method="POST" enctype="multipart/form-data">
            <label for="rating">Rating</label> <br />
            <input name="rating" type="number" value="4"/> <br />
            <label for="comment">Comment</label> <br />
            <textarea name="comment">This is a comment ig.</textarea><br />
            <label for="media">Review Media</label> <br />
            <input name="media" type="file" id="profile-pic" accept=".jpg, .jpeg, .png, .mp4, .mov, .avi, .mkv" multiple class="file-input"> <br />
            <input type="submit"/>
        </form>

        <h2>Review Edit</h2>

        <form action="/testreviewedit" method="POST">
            <label for="rating">Rating</label> <br />
            <input name="rating" type="number" value="4"/> <br />
            <label for="comment">Comment</label> <br />
            <textarea name="comment">This is a comment ig.</textarea><br />
            <input type="submit"/>
        </form>

        <h2>Review Delete</h2>

        <form action="/testreviewdelete" method="POST">
            <input type="submit"/>
        </form>

        <h2>Review Owner Response</h2>

        <form action="/testreviewresponse" method="POST">
            <label for="comment">Owner Comment</label> <br />
            <textarea name="comment">This is an owner comment ig.</textarea><br />
            <input type="submit"/>
        </form>

        <h2>Mark Helpful</h2>

        <form action="/testmarkhelpful" method="POST">
            <input type="submit"/>
        </form>

        <h2>Mark Unhelpful</h2>

        <form action="/testmarkunhelpful" method="POST">
            <input type="submit"/>
        </form>

        <h2>Unmark</h2>

        <form action="/testunmark" method="POST">
            <input type="submit"/>
        </form>
    </div>
</div>
